name: Publish Docker

on:
  create

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: Build image
      run: |
        # Strip git ref prefix from version
        VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
        echo VERSION=$VERSION
        docker build . --file Dockerfile --tag prybalko/black:$VERSION --build-arg VERSION=$VERSION

    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: prybalko/black
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        tag_names: true
