name: Publish Docker

on:
  [create, push]

env:
  IMAGE_NAME: prybalko/black

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: Build image
      run: |
        # Strip git ref prefix from version
        VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
        [ "$VERSION" == "master" ] && VERSION=latest
        echo VERSION=$VERSION
        docker build . --file Dockerfile --tag $IMAGE_NAME:$VERSION --build-arg VERSION=$VERSION

    - name: Log into registry
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ github.actor }} --password-stdin

    - name: Push image
      run: |
        docker push $IMAGE_NAME
